.char-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 2rem;
  position: sticky;
  top: 1rem;

  & li {
    margin-bottom: 0.25rem;
  }

  & a {
    text-decoration: none;
    color: var(--f1-red);
    line-height: 1.5rem;
  }
}
