---
layout: main
---
<nav class="breadcrumbs">
  <a href="/">🏠</a>
  <span>Seasons</span>
</nav>

<div class="seasons-grid">
  {% for season in (seasons | reverse) %}
  <div class="season-card">
    <h2><a href="/seasons/{{season}}/">{{season}}</a></h2>
    <ul>
      <li><a href="/seasons/{{season}}/races/">Races</a></li>
      <li><a href="/seasons/{{season}}/driver-standings/" disabled>Drivers Standings</a></li>
      <li><a href="/seasons/{{season}}/constructors-standings/" disabled>Constructors Standings</a></li>
    </ul>
  </div>
  {% endfor %}
</div>
