---
layout: main
permalink: "seasons/{{season}}/races/"
pagination:
  data: seasons
  size: 1
  alias: season
---
<nav class="breadcrumbs">
  <a href="/">🏠</a>
  <a href="/seasons/">Seasons</a>
  <a href="/seasons/{{season}}/">{{season}}</a>
  <span>Races</span>
</nav>
<h1>Formula 1 Championship - Season {{season}} - Races</h1>
<table class="table">
  <thead>
    <tr>
      <th>Round</th>
      <th>Name</th>
      <th>Held on</th>
      <th>Winner</th>
      <th>Circuit</th>
    </tr>
  </thead>
  <tbody>
  {% for race in seasonData.races %}
    <tr>
      <td>{{race.round}}</td>
      <td>
        <a href="/seasons/{{season}}/races/race-{{race.round | padLeft(2, '0')}}/">{{race.name}}</a>
      </td>
      <td>{{race.date | humanDate}}</td>
      <td>
        {% if race.winner_driver %}
        <span data-nationality="{{race.winner_driver.nationality | snakeCase}}">
          {{race.winner_driver.forename}} {{race.winner_driver.surname}}
        </span>
        <span>({{race.winner_constructor.name}})</span>
        {% endif %}
      </td>
      <td>{{race.circuit.name}}, {{race.circuit.location}}, {{race.circuit.country}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<ul>

</ul>
