---
layout: main
permalink: "seasons/{{race.year}}/races/race-{{race.round}}/"
pagination:
  data: races
  size: 1
  alias: race
eleventyComputed:
  title: "{{race.year}} - Round {{race.round}} - {{race.name}}"
---
<h1>{{race.year}} - {{race.name}} (Round {{race.round}})</h1>
<pre>
{{ raceData | dump(2)}}
{{ pagination.href | dump(2)}}
</pre>
