$flags: (
  american: 🇺🇸,
  american_italian: 🇺🇸,
  argentine: 🇦🇷,
  argentine_italian: 🇦🇷,
  australian: 🇦🇺,
  austrian: 🇦🇹,
  belgian: 🇧🇪,
  brazilian: 🇧🇷,
  british: 🇬🇧,
  canadian: 🇨🇦,
  chilean: 🇨🇱,
  chinese: 🇨🇳,
  colombian: 🇨🇴,
  czech: 🇨🇿,
  danish: 🇩🇰,
  dutch: 🇳🇱,
  east_german: 🇩🇪,
  finnish: 🇫🇮,
  french: 🇫🇷,
  german: 🇩🇪,
  hungarian: 🇭🇺,
  indian: 🇮🇳,
  indonesian: 🇮🇩,
  irish: 🇮🇪,
  italian: 🇮🇹,
  japanese: 🇯🇵,
  liechtensteiner: 🇱🇮,
  malaysian: 🇲🇾,
  mexican: 🇲🇽,
  monegasque: 🇲🇨,
  new_zealander: 🇳🇿,
  polish: 🇵🇱,
  portuguese: 🇵🇹,
  rhodesian: '',
  russian: 🇷🇺,
  south_african: 🇿🇦,
  spanish: 🇪🇸,
  swedish: 🇸🇪,
  swiss: 🇨🇭,
  thai: 🇹🇭,
  uruguayan: 🇺🇾,
  venezuelan: 🇻🇪
);

@each $key, $value in $flags {
  .#{$key}::before {
    content: '#{$value}';
    font-size: 1.5em;
    margin-right: 0.35rem;
    line-height: 2px;
  }
}
