<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}} | F1 statistics</title>
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{assets['styles/styles.css']}}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <a href="/" class="logo">
          <span>F1</span>
          <span>Statistics</span>
        </a>
        <nav class="main-nav">
          <a href="/seasons"  class="{{ "active" if page.url | startsWith("/season") }}">Seasons</a>
          <a href="/constructors"  class="{{ "active" if page.url | startsWith("/constructors") }}">Constructors</a>
          <a href="/drivers" class="{{ "active" if page.url | startsWith("/drivers") }}">Drivers</a>
          {# <a href="/circuits" disabled  class="'active': path.startsWith('/circuits')">Circuits</a> #}
          <a href="/about" class="{{ "active" if page.url | startsWith("/about") }}">About</a>
        </nav>
      </div>
    </header>
    {% if page.url != "/" %}
    <div class="container breadcrumbs-container">
      <div class="breadcrumbs">
        <a href="/">🏠</a>
        {% block breadcrumbs %}{% endblock %}
      </div>
      <div class="last-updated" x-data="{buildTime: new Date({{buildTime}})}">
         <span>Last updated at:&nbsp;</span>
        <span x-text="buildTime.toLocaleString()"></span>
        <span>(Local Time)</span>
      </div>
    </div>
    {% endif %}
    <div class="container content-wrapper">
      {{ content | safe }}
      {% block content %}{% endblock %}
    </div>
    <footer class="main-footer">
      <div class="container">
        <p>Made with ❤️ by <a href="https://vkbansal.me/">Vivek Kumar Bansal</a></p>
      </div>
    </footer>
    {% block beforescripts %}{% endblock %}
    <script type="text/javascript" src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    {% block afterscripts %}{% endblock %}
  </body>
</html>
