<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
