<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}} | F1 statistics</title>
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <a href="/" class="logo">
          <span>F1</span>
          <span>Statistics</span>
        </a>
        <nav class="main-nav">
          <a href="/seasons"  class="'active': path.startsWith('/seasons')">Seasons</a>
          <a href="/constructors" disabled  class="'active': path.startsWith('/constructors')">Constructors</a>
          <a href="/drivers" disabled  class="active': path.startsWith('/drivers')">Drivers</a>
          <a href="/circuits" disabled  class="'active': path.startsWith('/circuits')">Circuits</a>
          <a href="/about" class="'active': path.startsWith('/about')}}">About</a>
        </nav>
      </div>
    </header>
    <div class="container content-wrapper">
      {{ content | safe }}
      {% block content %}{% endblock %}
    </div>
    <footer class="main-footer">
      <div class="container">
        <p>Made with ❤️ by <a href="https://vkbansal.me/">Vivek Kumar Bansal</a></p><br/>
        <p>Data Source: <a href="http://ergast.com/mrd/" target="_blank">Ergast developer API</a></p>
      </div>
    </footer>
    {% block bodyend %}{% endblock %}
  </body>
</html>
