.char-nav {
	display: flex;
	height: 2.5rem;
	align-items: center;
	justify-content: space-evenly;
	position: sticky;
	top: 0;
	background-color: var(--bg);
	box-shadow: 0 1px 0 var(--divider);
	z-index: 2;

	.char-nav-highlight {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0.25rem;
		border-radius: 0.25rem;
		background: var(--red-600);
		width: 100px;
		transform-origin: left center;
		transition: transform 0.2s ease-out;
	}

	.char-nav-chars {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		height: 100%;
	}

	a {
		display: block;
		padding: 0.5rem;
		z-index: 1;
		text-decoration: none;
	}
}
