.seasons-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.season-pagination {
	font-size: 0.85rem;
	display: flex;
	gap: 1rem;

	a {
		color: var(--text-lighter);
		text-decoration: none;
	}
}
