.standings-chart {
	display: grid;
	grid-template-columns: 4fr minmax(500px, 1fr);

	& &-legend {
		padding-top: 2rem;
	}

	& &-legend-position {
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;

		& &-legend-position-gain {
			font-size: 0.875em;
			display: inline-block;
			margin-left: 0.1rem;

			&.gain-up {
				transform: translateY(5%);
			}

			&.gain-down {
				transform: translateY(5%);
			}
		}
	}

	& &-legend-label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;

		& &-legend-label-color {
			display: flex;
			align-items: center;

			&::before {
				content: '';
				display: inline-block;
				width: 1em;
				height: 1em;
				border-radius: 2px;
				margin-right: 0.5em;
				background-color: var(--legend-color);
			}
		}

		& .trophy {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin-left: 0.5rem;

			&.trophy-1 {
				color: gold;
			}

			&.trophy-2 {
				color: silver;
			}

			&.trophy-3 {
				color: #cd7f32;
			}

			& svg {
				width: 1rem;
				height: 1rem;
			}
		}
	}
}
