.tabs {
	& .tab-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 3rem;
		padding: 0 3rem;
	}

	& .tab {
		padding: 1rem;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 0.5rem 0.5rem 0 0;
		border-color: var(--red-600) var(--red-600) var(--border) var(--red-600);
		background-color: var(--red-600);
		text-align: center;
		color: white;
		text-transform: uppercase;
		z-index: 0;
		transform: translateY(1px);

		&.tab-active {
			background-color: var(--gray-100);
			color: var(--text-main);
			font-weight: bold;
			z-index: 2;
			border-color: var(--border) var(--border) transparent var(--border);
			// transform: translateY(2px);
		}
	}

	& .tab-panel {
		padding: 1rem;
		display: none;
		border: 1px solid var(--border);
		border-radius: 0.5rem;
		background-color: var(--gray-100);
		z-index: 2;

		&.tab-active {
			display: block;
		}
	}
}

html[data-theme='dark'] {
	.tabs {
		& .tab {
			&.tab-active {
				background-color: var(--gray-800);
			}
		}
		& .tab-panel {
			background-color: var(--gray-800);
		}
	}
}
