@use 'sass:map';
@use './colors';
:root {
	--font-family: 'Work Sans', sans-serif;
}

@mixin common-vars {
	--white: #{map.get(colors.$neutral, '100')};
	--black: #{map.get(colors.$neutral, '900')};
	--header-height: 4.5rem;
	--footer-height: 4rem;

	@each $key, $value in colors.$red {
		--red-#{$key}: #{$value};
	}
}

/*=====================================================
	light theme colors
=====================================================*/
@mixin theme-light {
	@each $key, $value in colors.$neutral {
		--gray-#{$key}: #{$value};
	}
	--body-bg: var(--gray-100);
	--text-main: var(--gray-900);
	--text-light: var(--gray-700);
	--text-lighter: var(--gray-500);
	--border: var(--gray-300);
	--border-darker: var(--gray-400);
}

/*=====================================================
	dark theme colors
=====================================================*/
@mixin theme-dark {
	@each $key, $value in colors.$gray {
		--gray-#{$key}: #{$value};
	}
	--body-bg: var(--gray-900);
	--text-main: var(--gray-100);
	--text-light: var(--gray-300);
	--text-lighter: var(--gray-400);
	--border: var(--gray-700);
	--border-darker: var(--gray-400);
}

:root {
	@include common-vars;
	@include theme-dark;
}
