@use './colors';

:root {
	--font-family: 'Work Sans', sans-serif;
}

@mixin common-vars {
	--white: #{map-get(colors.$neutral, '100')};
	--black: #{map-get(colors.$neutral, '900')};
	--header-height: 4.5rem;
	--footer-height: 4rem;
	--f1-red: #{map-get(colors.$red, '600')};

	@each $key, $value in colors.$red {
		--red-#{$key}: #{$value};
	}

	@each $key, $value in colors.$neutral {
		--gray-#{$key}: #{$value};
	}
}

/*=====================================================
	light theme colors
=====================================================*/
@mixin theme-light {
	--body-bg: #{map-get(colors.$neutral, '100')};
	--text-main: #{map-get(colors.$neutral, '900')};
	--text-light: #{map-get(colors.$neutral, '700')};
	--text-lighter: #{map-get(colors.$neutral, '500')};
	--border: #{map-get(colors.$neutral, '300')};
	--border-light: var(--gray-light);
}

/*=====================================================
	dark theme colors
=====================================================*/
@mixin theme-dark {
	--body-bg: #{map-get(colors.$gray, '900')};
	--text-main: #{map-get(colors.$neutral, '100')};
	--text-light: #{map-get(colors.$neutral, '300')};
	--text-lighter: #{map-get(colors.$neutral, '500')};
	--border: #{map-get(colors.$gray, '700')};
	--border-light: var(--gray-light);
}

:root {
	@include common-vars;
	@include theme-light;
}

[data-theme='dark'] {
	@include common-vars;
	@include theme-dark;
}
