.stats {
	margin: -1rem 0;

	& .section {
		padding: 4rem 0;
	}

	a.link {
		display: inline-block;
		font-size: 5rem;
		font-family: var(--font-family-oswald);
		text-decoration: none;
		transition: color 0.3s ease-out;
		position: relative;

		&:hover {
			color: var(--f1-red);
		}
	}

	& .fact {
		font-size: 1.75rem;
		color: var(--text-2);
		line-height: 5;
	}
}
