---
title: Home
permalink: '/'
---
{% extends '../../_layouts/main.njk' %}

{% block content %}
<div class="world-map-container">
  <canvas id="world-map"></canvas>
</div>
<div class="stats">
  <p><span class="number">{{numOfEntities.seasons}}</span> Seasons</p>
  <p><span class="number">{{numOfEntities.drivers}}</span> Drivers from <span class="number">{{numOfEntities.driverNationalities}}</span> Nationalities</p>
  <p><span class="number">{{numOfEntities.constructors}}</span> Constructors</p>
  <p><span class="number">{{numOfEntities.circuits}}</span> Circuits across <span class="number">{{numOfEntities.circuitCountries}}</span> Countries</p>
</div>
{% endblock %}

{% block beforescripts %}
<script type="text/javascript">
  const racesByCountry = {{ racesByCountry | dump | safe }};
</script>
{% endblock %}

{% block afterscripts %}
<script type="text/javascript" src="https://unpkg.com/chartjs-chart-geo@3.8.0/build/index.umd.min.js"></script>
<script type="text/javascript" src="{{assets['_assets/scripts/homepage.js']}}"></script>
{% endblock %}
