.season-graph {
  margin: 1rem;
  position: relative;

  .positions-chart {
    $fade-opacity: 0.2;

    @mixin transitions {
      transition: opacity 0.3s ease-out;
    }

    .tick-y {
      @include transitions;
      opacity: 1;

      &.tick-fade {
        opacity: $fade-opacity;
      }
    }

    .line-group {
      cursor: pointer;

      & > .label {
        opacity: 0;
        @include transitions;
      }

      & > .line,
      & > .point {
        opacity: 1;
        @include transitions;
      }

      &.line-group-focus {
        & > .label {
          opacity: 1;
        }
      }

      &.line-group-fade {
        & > .line,
        & > .point {
          opacity: $fade-opacity;
        }
      }
    }
  }

  .points-chart {
    & + .tooltip .tooltip-content {
      .points-tooltip {
        display: grid;
        grid-template-columns: 1rem 180px 50px;
        gap: 0 0.5rem;
      }

      .color {
        width: 1rem;
        height: 1rem;
        background-color: currentColor;
        border-radius: 0.2rem;
      }
    }
  }
}

.season-tabs {
  .circuit-location-cell {
    font-size: 0.85em;
    opacity: 0.5;
    font-style: italic;
  }

  .tab-panel {
    padding-bottom: 2rem;
  }
}

.season-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  & h1 {
    margin: 0;
  }
}

.season-pagination {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
