---
pagination:
  data: seasons
  size: 1
  alias: year
permalink: 'seasons/{{year}}/'
chartjs: true
eleventyComputed:
  title: '{{year}} Season'
---
{% extends '../../_layouts/main.njk' %}

{% block breadcrumbs %}
<a href="/seasons">Seasons</a>
<span>{{year}}</span>
{% endblock %}

{% block content %}

{% endblock %}

{% block beforescripts %}
<script type="text/javascript">
  const raceNames =  {{pageData.raceNames | dump | safe}};
  const driversData = {{pageData.driversData | dump | safe}};
  const constructorsData = {{pageData.constructorsData | dump | safe}};
</script>
{% endblock %}

{% block afterscripts %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script  type="text/javascript" src="{{assets['pages/season/season.client.js']}}"></script>
{% endblock %}
