---
import MainLayout from 'layouts/MainLayout.astro';
---

<MainLayout title='About'>
	<h1>About</h1>
	<h4>Objective</h4>
	<p>
		The main objective of this project is to be restricted as a
		<strong>static site</strong> and provide some statistics and data visualisations
		around <strong>The Formula 1 World Championship</strong>.
	</p>
	<h4>Data source</h4>
	<p>
		Data is taken from <a href='http://ergast.com/mrd/' target='_blank'
			>Ergast developer API
		</a>.
	</p>
	<h4>Contributing</h4>
	<p>
		The code for this project is open-source and is available on <a
			href='https://github.com/vkbansal/formula1-app'
			target='_blank'
			>GitHub
		</a>. You are welcome to submit ideas and issues.
	</p>
	<h4>Technologies used</h4>
	<ul>
		<li>
			<a href='https://astro.build/' target='_blank'>Astro</a> - For static site
			generation.
		</li>
		<li>
			<a href='https://sass-lang.com/' target='_blank'>SCSS</a> - For styling.
		</li>
		<li>
			<a href='https://preactjs.com/' target='_blank'>Preact</a> - For interactive
			elements.
		</li>
		<li>
			<a href='https://d3js.org/' target='_blank'>D3</a> - For data visualisations.
		</li>
		<li>
			<a href='https://mariadb.org/' target='_blank'>MariaDB</a> - For storing and
			querying data.
		</li>
		<li>
			<a href='https://redis.io/' target='_blank'>Redis</a> - For caching the data.
		</li>
	</ul>
	<br />
</MainLayout>
