---
import MainLayout from 'layouts/MainLayout.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
---

<MainLayout title='Home'>
	<Breadcrumbs links={[{ label: 'Constructors', href: '/constructors/' }]} />
	<h1>Constructors</h1>
	<p>Work in progress!</p>
</MainLayout>
