---
import MainLayout from 'layouts/MainLayout.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
import allDrivers from 'data/drivers.yaml';
import metadata from 'data/metadata.yaml';
import { Drivers } from 'client/drivers/drivers';
import type { Season } from 'data/seasons/1950.yaml';
const {
	default: { drivers: currentSeasonDrivers },
} = (await import(`../data/seasons/${metadata.currentSeason}.yaml`)) as {
	default: Season;
};

const currentDrivers = currentSeasonDrivers.map((d) => d.driverRef);
---

<MainLayout title="Home">
	<Breadcrumbs links={[{ label: 'Drivers', href: '/drivers/' }]} />
	<h1>Drivers</h1>
	<p>Note: Lap time data is available from the 1996 season onwards.</p>
	<Drivers
		drivers={allDrivers}
		currentSeason={metadata.currentSeason}
		currentDrivers={currentDrivers}
		client:load
	/>
</MainLayout>

<style lang="scss">
	:global(.drivers-data) {
		--char-nav-height: 3rem;
	}
</style>
