---
import MainLayout from 'layouts/MainLayout.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
---

<MainLayout title='Home'>
	<Breadcrumbs links={[{ label: 'Drivers', href: '/drivers/' }]} />
	<h1>Drivers</h1>
	<p>Work in progress!</p>
</MainLayout>
