---
import f1Logo from 'images/f1-logo.svg';

const url = Astro.canonicalURL.pathname;
---

<header class='main'>
	<div class='container'>
		<a href='/' class='logo'>
			<img src={f1Logo} width='120' height='30' alt='Formula 1 Logo' />
			<span>Statistics</span>
		</a>
		<nav class='nav'>
			<a
				href='/seasons'
				class:list={['nav-link', { 'nav-link-active': url.startsWith('/seasons/') }]}
			>
				Seasons
			</a>
			<a
				href='/constructors'
				class:list={['nav-link', { 'nav-link-active': url.startsWith('/constructors/') }]}
			>
				Constructors
			</a>
			<a
				href='/drivers'
				class:list={['nav-link', { 'nav-link-active': url.startsWith('/drivers/') }]}
			>
				Drivers
			</a>
			<a href='/about' class:list={['nav-link', { 'nav-link-active': url.startsWith('/about/') }]}>
				About
			</a>
			<label for='theme-toggle' class='theme-toggle' title='Theme'>
				<input id='theme-toggle' type='checkbox' />
				<span></span>
			</label>
		</nav>
	</div>
</header>

<style lang='scss'>
	@use 'sass:math';

	.main {
		border-bottom: 1px solid var(--border);
		height: var(--header-height);

		& > :global(.container) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
		}
	}

	.logo {
		display: block;
		font-size: 2rem;
		text-decoration: none;
		font-weight: 400;
	}

	.nav {
		display: flex;
		align-items: center;
		column-gap: 1.5rem;
	}

	.nav-link {
		display: inline-block;
		text-decoration: none;
		font-weight: 500;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			display: block;
			top: 100%;
			left: 0;
			height: 0.2em;
			width: 100%;
			background-color: var(--red-600);
			transition: transform 0.2s ease-in-out;
			transform-origin: left center;
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
		}
	}

	.nav-link-active::after {
		transform: scaleX(1);
	}

	$switch_width: 2.75rem;
	$switch_height: 1.25rem;
	$toggle_scale: 0.8;
	$toggle_size: $switch_height * $toggle_scale;
	$delta: math.div(($switch_height - $toggle_size), 2);
	$inner_width: $switch_width - ($delta * 2);

	.theme-toggle {
		display: inline-flex;
		align-items: center;
		height: $switch_height;
		width: $switch_width;
		border-radius: $switch_height;
		background: var(--black);
		position: relative;
		overflow: hidden;
		box-shadow: 0 0 0 1px var(--border);
		cursor: pointer;

		& > input {
			opacity: 0;
			clip-path: circle(0, 0);
			width: 0;
			height: 0;
			margin: 0;
		}

		& > span {
			position: absolute;
			display: inline-block;
			height: $toggle_size;
			width: $toggle_size;
			background: var(--white);
			border-radius: 50%;
			left: 0;
			top: 0;
			transition: transform 0.3s ease-in-out;
			transform: translate($delta, $delta);

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				display: inline-flex;
				align-items: center;
				height: $toggle_size;
				width: $inner_width;
				border-radius: $toggle_size;
				line-height: 100%;
			}

			&::after {
				content: '☀️';
				text-align: right;
				font-size: 0.8em;
				left: 0;
				justify-content: flex-end;
				transform: translate(-10%, 0%);
			}

			&::before {
				content: '🌙';
				font-size: 0.7em;
				right: 0;
				justify-content: flex-start;
				transform: translate(10%, 0%);
			}
		}

		& input:checked + span {
			transform: translate(calc($switch_width - $toggle_size - $delta), $delta);
		}
	}
</style>
