.constructors-page {
  padding-left: 2rem;

  & > .char-nav {
    transform: translateX(-2rem);
  }

  .constructors-section {
    min-height: 500px;
    padding-top: 1rem;
  }

  .section-title {
    line-height: 1.5rem;
  }
}
