.wrapper {
  padding-top: 0;
}

.world-map-container {
  margin: -1rem 0 2rem 0;
  padding: 4rem 0;
}

.world-map-wrapper {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  max-height: calc(100vh - var(--header-height));

  & > svg {
    width: 100%;
    color: white;
  }

  #world-map-tooltip {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-top-color: var(--black);
    filter: drop-shadow(0 2px 4px #888);

    &::before {
      content: attr(data-text);
      display: block;
      position: absolute;
      padding: 1rem;
      bottom: 100%;
      left: 0;
      background-color: var(--black);
      border-radius: 0.5rem;
      white-space: nowrap;
      transform: translate(-50%, -0.5rem);
    }
  }
}

.stats {
  font-size: 3rem;
  text-align: center;

  & > p {
    margin-bottom: 1em;
  }
}

.number {
  color: var(--f1-red);
  font-size: 1.5em;
}
