.season-graph {
  margin: 1rem;
  position: relative;

  .reset-zoom {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--f1-red);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.season-tabs {
  .circuit-location-cell {
    font-size: 0.85em;
    opacity: 0.5;
    font-style: italic;
  }

  .tab-panel {
    padding-bottom: 2rem;
  }
}

.season-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.season-pagination {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
