.drivers-filter {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	height: 3rem;
	position: sticky;
	top: 0;

	.filter-groups {
		display: flex;
		align-items: stretch;
	}

	a {
		display: inline-flex;
		align-items: center;
		color: white;
		text-decoration: underline;
		padding: 0 0.5rem;

		&:global(.active) {
			background-color: var(--f1-red);
			font-weight: bold;
		}
	}
}

.drivers-table {
	thead:nth-child(1) {
		top: 0;
		z-index: 2;
	}

	thead:nth-child(2) {
		top: 3rem;
		z-index: 1;
	}
}
