---
import { pick } from 'lodash-es';

import MainLayout from 'layouts/MainLayout.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
import { Drivers } from 'client/drivers/drivers';
import { loadData } from 'helpers/data';

const metadata = await loadData('metadata');
const allDrivers = await loadData('drivers');
const { drivers: currentSeasonDrivers } = await loadData(`seasons/${metadata.currentSeason}`);
const currentDrivers = currentSeasonDrivers.map((d) => d.driverRef);
const drivers = allDrivers.map((driver) =>
	pick(driver, [
		'championshipStandings',
		'nationality',
		'totalLaps',
		'totalRaces',
		'lapsLead',
		'name',
		'driverRef',
		'raceWins',
	]),
);
---

<MainLayout title="Home">
	<Breadcrumbs links={[{ label: 'Drivers', href: '/drivers/' }]} />
	<h1>Drivers</h1>
	<p>Note: Lap time data is available from the 1996 season onwards.</p>
	<Drivers
		drivers={drivers}
		currentSeason={metadata.currentSeason}
		currentDrivers={currentDrivers}
		client:load
	/>
</MainLayout>

<style lang="scss">
	:global(.drivers-data) {
		--char-nav-height: 3rem;
	}
</style>
