---
import { pick } from 'lodash-es';
import MainLayout from 'layouts/MainLayout.astro';
import Breadcrumbs from 'components/Breadcrumbs.astro';
import { loadData } from 'helpers/data';
import { Constructors } from 'client/constructors/constructors';

const metadata = await loadData('metadata');
const allConstructors = await loadData('constructors');
const { constructors: currentSeasonConstructors } = await loadData(
	`seasons/${metadata.currentSeason}`,
);
const currentConstructors = currentSeasonConstructors.map((d) => d.constructorRef);
const constructors = allConstructors.map((driver) =>
	pick(driver, [
		'name',
		'nationality',
		'championshipStandings',
		'constructorRef',
		'podiums',
		'totalRaces',
		'raceWins',
	]),
);
---

<MainLayout title="Constructors">
	<Breadcrumbs links={[{ label: 'Constructors', href: '/constructors/' }]} />
	<h1>Constructors</h1>
	<Constructors
		constructors={constructors}
		currentConstructors={currentConstructors}
		currentSeason={metadata.currentSeason}
		client:load
	/>
</MainLayout>
