---
pageId: about
---

{% extends './_layouts/main.njk' %}

{% block breadcrumbs %}
<span>About</span>
{% endblock %}

{% block content %}
<p>
  Hello! My name is Vivek Kumar Bansal and this is a hobby project of mine.
  It combines 2 of my favourite things: <em>Formula 1</em> and <em>Web Development</em>!
</p>

<p>
  The aim of this project is to provide some statistics and data visualisations around Formula 1.
  The code is open-source and is available on <a href="https://github.com/vkbansal/formula1-app" target="_blank">GitHub</a>.
</p>

<p>Data is taken from <a href="http://ergast.com/mrd/" target="_blank">Ergast developer API</a>.</p>

{% endblock %}
