---
layout: main
---
<div class="welcome">Welcome!</div>
<p>
  This is a hobby project and it combines 2 of my favourite things: Formula 1 and Web Development!
  The aim of this project is to provide some statistics and data visualisations around Formula 1.
  The code is open-source and is available on <a href="https://github.com/vkbansal/formula1-app" target="_blank">GitHub</a>.
</p>
<br/>
<p>Checkout statistics:</p>
<div class="main-grid">
  <a href="/seasons">Seasons<br/>☁️</a>
  <a href="/constructors" disabled>Constructors <br/>🛠</a>
  <a href="/drivers" disabled>Drivers <br/> 🏎</a>
</div>
