---
title: Seasons
activeNav: seasons
---
{% extends './_layouts/main.njk' %}

{% block content %}
<section class="seasons-grid">
  {% for season in seasons %}
    <h2 class="season-card"><a href="/seasons/{{season}}/">{{season}}</a></h2>
  {% endfor %}
</section>
{% endblock%}
