---
import MainLayout from 'layouts/MainLayout.astro';
import getSeasons from 'queries/seasons.sql';

export async function getStaticPaths() {
	const seasons = await getSeasons();

	return seasons.map(({ year }) => ({ params: { year: year.toString() } }));
}
---

<MainLayout title='Home'>
	<div>Hello</div>
</MainLayout>
