---
import MainLayout from 'layouts/MainLayout.astro';
import getSeasons from 'queries/seasons.sql';
import metadata from 'data/metadata';

const gridWidth = 7;
const seasons = await getSeasons();
const extraBoxes = Array.from({ length: (seasons.length % gridWidth) + 1 });
seasons.reverse();
---

<MainLayout title='Home'>
	<h1>All Seasons</h1>
	<p class='text-light'>* - Current Season</p>
	<section class='seasons-grid'>
		{seasons.map(({ year: season }) => (
			<div class="season-card">
				<a
					href={`/seasons/${season}/`}
					class:list={{ 'current-season': metadata.currentSeason === season }}
				>
					{season}
				</a>
			</div>
		))}
		{extraBoxes.map(() => <div class="season-card" />)}
	</section>
	<br />
</MainLayout>

<style lang='scss' define:vars={{ 'grid-width': gridWidth }}>
	.seasons-grid {
		display: grid;
		grid-template-columns: repeat(var(--grid-width), 1fr);
		border-radius: 1rem;
		overflow: hidden;
		border: 1px solid var(--border);
		margin-bottom: 2rem;
	}

	.season-card {
		margin: 0;
		overflow: hidden;
		aspect-ratio: 1 / 1;

		& > a {
			font-size: 2.25rem;
			font-weight: 700;
			display: flex;
			text-decoration: none;
			align-items: center;
			justify-content: center;
			transform-origin: center center;
			transition: transform 0.3s ease-out;
			width: 100%;
			height: 100%;

			&:hover {
				transform: scale(1.35);
			}

			&.current-season::after {
				content: '*';
			}
		}

		&:nth-child(2n) {
			background: var(--white);

			& > a {
				color: var(--black);
			}
		}

		&:nth-child(2n + 1) {
			background: var(--black);

			& > a {
				color: var(--white);
			}
		}
	}
</style>
